## Settings file was created by plugin Wonderloom v1.0.0
## Plugin GUID: Peuloom.Wonderloom

[Performance]

## Enable FPS limiter when window is unfocused
# Setting type: Boolean
# Default value: true
Enable_FpsLimiter = false

## Target FPS when the game window is focused
# Setting type: Int32
# Default value: 30
Target_Fps = 30

## Target FPS when the game window is unfocused
# Setting type: Int32
# Default value: 10
Unfocused_Fps = 10

## Delay in seconds after which the FPS limiter becomes active
# Setting type: Single
# Default value: 120
Limiter_Delay = 120

[Server]

## Delay between server synchronizations, in minutes (Never below 30)
# Setting type: Int32
# Default value: 60
Server_Sync_Delay = 60

[Translation]

## Target language for translation (e.g., en, pt-BR, es, fr)
# Setting type: String
# Default value: en
Translate_To = en

